obj
bin
*.user
*.suo
*.orig
output
publish
packages
_ReSharper.*
*.Resharper
*.Cache
*.cache
~$*
*~
*.pidb
*.userprefs
test-results
*.crunchproject.local.xml
*.ncrunchproject
*.crunchsolution.local.xml
*.ncrunchsolution
Resource/nuget/*